.list_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.list_item h3 {
  margin-right: 10px;
  width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
}

.list_item p {
  font-size: 12px;
  color: #464646;
  font-style: italic;
  margin: 0 20px;
}

.list_item button {
  margin: 0px 10px;
}
